<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.amayadream.demo.dao.IUserDao" >

	<resultMap id="BaseResultMap" type="com.amayadream.demo.pojo.User" >
		<id column="USERNAME" property="username" jdbcType="VARCHAR" />
		<result column="PASSWORD" property="password" jdbcType="VARCHAR" />
		<result column="FIRSTNAME" property="firstname" jdbcType="VARCHAR" />
		<result column="LASTNAME" property="lastname" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List" >
		USERNAME, PASSWORD, FIRSTNAME, LASTNAME, EMAIL
	</sql>

	<!-- 查询所有用户 -->
	<select id="selectAll" resultMap="BaseResultMap" >
		SELECT <include refid="Base_Column_List" />
		FROM TEST_USER
	</select>

	<!-- 根据用户id查询用户 -->
	<select id="selectUserById" resultMap="BaseResultMap" parameterType="string" >
		SELECT
		<include refid="Base_Column_List" />
		FROM TEST_USER
		WHERE USERNAME = #{username, jdbcType=VARCHAR}
	</select>

	<!-- 插入用户 -->
	<insert id="insert" parameterType="com.amayadream.demo.pojo.User" >
		INSERT INTO TEST_USER (USERNAME, PASSWORD, FIRSTNAME, LASTNAME ,EMAIL)
		VALUES (#{username, jdbcType=VARCHAR}, #{password, jdbcType=VARCHAR}, #{firstname, jdbcType=VARCHAR}, #{lastname, jdbcType=VARCHAR}, #{email, jdbcType=VARCHAR})
	</insert>

	<!-- 更新用户 -->
	<update id="update" parameterType="com.amayadream.demo.pojo.User">
		UPDATE TEST_USER
		SET PASSWORD = #{password, jdbcType=VARCHAR}, FIRSTNAME = #{firstname, jdbcType=VARCHAR}, LASTNAME = #{lastname, jdbcType=VARCHAR}, EMAIL = #{email, jdbcType=VARCHAR}
		WHERE USERNAME = #{username, jdbcType=VARCHAR}
	</update>

	<!-- 删除用户 -->
	<delete id="delete" parameterType="string" >
		DELETE FROM TEST_USER
		WHERE USERNAME = #{username, jdbcType=VARCHAR}
	</delete>

</mapper>